<h1 class="text-3xl mb-2">ng-signal-pagination demos</h1>

<h2 class="text-2xl mb-2 mt-5">In-memory data</h2>

<div class="flex flex-col-reverse">
	<ng-signal-pagination [data]="shows" [config]="paging" #pagination />
	<ul class="list-[square] ml-4">
		@for (show of pagination.pageData(); track show.title) {
			<li>{{ show.title }} gets a {{ show.rating }}</li>
		}
	</ul>
</div>

<h2 class="text-2xl mb-2 mt-5">Custom template</h2>

<ng-signal-pagination [data]="shows" [config]="paging" #pagination>
	<ng-template
		#paginationTemplate
		let-currentPage="currentPage"
		let-pages="pages"
		let-previous="previous"
		let-next="next"
		let-goTo="goTo"
	>
		<ol class="flex">
			<li class="p-3" (click)="previous()">previous</li>
			@for (page of pages(); track page) {
				<li
					class="p-3 border-solid border-amber-300 border-b-2"
					[class.bg-amber-300]="page === currentPage()"
					(click)="goTo(page)"
				>
					{{ page }}
				</li>
			}
			<li class="p-3" (click)="next()">next</li>
		</ol>
	</ng-template>
</ng-signal-pagination>

<h2 class="text-2xl mb-2 mt-5">Async data retrieval</h2>

<div class="flex flex-col-reverse">
	<ng-signal-async-pagination [query]="todoQuery" (pageChange)="goToPage($event)" [config]="paging" #asyncPagination />
	<ul class="list-[square] ml-4">
		@for (todo of asyncPagination.pageData(); track todo) {
			<li>{{ todo }}</li>
		}
	</ul>
</div>
